<nav aria-label="Page navigation ">
  <ul class="pagination">
    <!-- <li class="page-item">{{ i + 1}}{{ image.title }}{{ image.url }}</li> -->
    <li 
    *ngFor="let image of images; let i = index;" 
    class="page-link " 
    [ngClass]="{ active: i === currentPage}" 
    aria-current="page"
    (click)="changeActiveClass(i)"
    >{{ i + 1}}</li>
  </ul>
</nav>



<!-- <nav aria-label="Page navigation ">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav> -->