<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    <li 
    class="page-link" 
    [ngClass]="{ disabled: !currentPage}"
    (click)="Prev()"
    >Prev</li>

    <!-- <li 
    *ngFor="let image of images; let i = index;" 
    class="page-link " 
    [ngClass]="{ active: i === currentPage}" 
    (click)="changeActiveClass(i)"
    >{{ i + 1}}</li> -->
    <ng-container *ngFor="let image of images; let i = index;">
      <li 
      *ngIf="i < 5"
      class="page-link" 
      [ngClass]="{ active: i === currentPage}" 
      (click)="currentPage = i"
      >{{ i + 1}}</li>
    </ng-container>

    <li 
    class="page-link" 
    [ngClass]="{ disabled: images.length -1 === currentPage}"
    (click)="Next()"
    >Next</li>


  </ul>
</nav>

<div>
  <h3>{{ images[currentPage].title }}</h3>
  <img [src]="images[currentPage].url">
</div>


<!-- <nav aria-label="Page navigation ">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav> -->